DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=tp6_demo
DB_USERNAME=root
DB_PASSWORD=root123
DB_PREFIX=tp_

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

APP_DEBUG=true
APP_TRACE=false

JWT_SECRET=
PLAYBACK_SIGN_SECRET=
